body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#container {
  position: relative;
  display: inline-block;
}

#container img {
  max-width: 100%; /* Ajuster la taille des images en fonction de la taille du conteneur */
  height: auto;
}

#baton {
  max-width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* Désactiver les événements de la souris et du toucher pour le bâton */
  transition: transform 0.1s; /* Animer le bâton */
  transform-origin: bottom; /* Faire pivoter le bâton à partir du bas */
  z-index: 1; /* Placer le bâton au-dessus de la casserole */
}
